
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add-product</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav>
    <a href="/">Shop</a>
    <a href="/add-product">Add Product</a>
    <a href="/contact-us">Contact Us</a>
</nav>
<main>
    <main>
        <form action="/product" method="post">
            <input type="text" name="product" class="inputval">
            <button type="submit" class="btn">Add Product</button>
        </form>
    </main>
</main>

</body>
</html>
